* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    background-color: #000;
    color: white;
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    padding: 0px;
    font-family:sans-serif;
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo a {
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 800;
    font-family: courier;
    color: white;
}
.logo a img{
    width: 10%;
}
/* .menu {
    float: right;
} */

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky; 
    top: 0;
    background: black;
    z-index: 1;
    border-bottom:1px solid #5000ca;
}

/* nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
} */
main{
    color: #ffffff;
    margin: auto;
    width: 720px;
}
main .title{
    width: 70%;
    text-align: center;
    margin: auto;
    margin-top: 20px;
}
main .umum{
    margin: 20px 0px;
}
main .umum h2{
    margin: 10px 0px;
}
main .umum p{
    opacity: 80%;
    margin: 10px 0px;
}
main .list{
    margin: 10px 0px;
    border: 0.5px solid violet;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    border-radius: 16px;
    background: linear-gradient(217deg, rgba(0,0,0,.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(0,0,0,.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(16deg, rgb(90, 34, 139), black 70.71%);
}

main .list .fakultas{
    background-color: transparent;
    font-size: xx-large;
}
main .list .daftar{
    background-color: transparent;

}
main .list .daftar p{
    background-color: transparent;
    margin: 20px;
    border-bottom: 1px solid white;
    padding: 10px 0px;
}
main .list .daftar p a{
    list-style-type: none;
    background-color: transparent;
}
main .list .daftar p a:hover{
    background-color:purple;
    transition: 0.3s;
}
main .jurusan{
    margin: 20px 0px;
    /* border: 1px solid white; */
}
main .jurusan p{
    margin: 10px 0px;
    opacity: 80%;
}

@media screen and (max-width: 991.98px) {
    .wrapper {
        width: 80%;
    }

    .logo a {
        width: 100%;
        text-align: center;
    }
    nav{
        width: 100%;
    }

    nav .menu {
        width: 60%;
        margin: 0;
    }

    nav .menu ul {
        text-align: center;
        margin: auto;
        line-height: 60px;
    }

    nav .menu ul li {
        display: inline-block;
        float: none;
    }
    
    main{
        width: 80%;
        margin: 50px;
    }
    main .list{
        flex-direction: column;
        width: 80%;
        margin-left: 20px;
        padding: 20px;
    }
    main .list .fakultas{
        text-align: center;
    }
    main .list .daftar{
        margin-left: -80px;
    }
    main .list .daftar p{
        width: 90%;
    }
}